Repository thangved/react-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore(eslint): add eslint config
  .eslintrc.cjs
  eslint.config.mjs
  package.json
  vite.config.ts
Due: eslint --fix, prettier --write

chore(ci): add github actions
  .github/actions/setup-node/action.yml
  .github/workflows/ci.yml
Due: none

feat!: change models to types and add BaseInput
  src/models/User.ts
  src/store/user.ts
  src/types/Base.ts
  src/types/User.ts
Due: eslint --fix, prettier --write

feat!: update service interfaces
  src/services/base.service.ts
  src/services/crud.service.ts
  src/types/Base.ts
Due: eslint --fix, prettier --write

chore: trick rename
  src/services/crud.service.ts
  src/store/user.ts
  src/types/_base.ts
  src/types/_user.ts
Due: eslint --fix, prettier --write

feat!: change types name
  src/services/crud.service.ts
  src/store/user.ts
  src/types/base.ts
  src/types/user.ts
Due: eslint --fix, prettier --write

chore: remove http
  src/http/http.ts
Due: eslint --fix, prettier --write

feat: update default logo
  .github/actions/setup-node/action.yml
  CHANGELOG.md
  eslint.config.mjs
  index.html
  public/apple-touch-icon-180x180.png
  public/favicon.ico
  public/logo.svg
  public/maskable-icon-512x512.png
  public/pwa-192x192.png
  public/pwa-512x512.png
  public/pwa-64x64.png
  src/assets/logo.svg
  src/components/logo/logo.module.scss
Due: prettier --write

feat: import entry
  src/components/FirstLoader/FirstLoader.module.scss
  src/components/FirstLoader/FirstLoader.tsx
  src/components/FirstLoader/index.ts
  src/components/logo/Logo.tsx
  src/components/logo/index.ts
  src/hooks/index.ts
  src/hooks/useAppDispatch.ts
  src/hooks/useAppSelector.ts
  src/layouts/admin/index.tsx
  src/layouts/default/index.tsx
  src/layouts/user/index.tsx
  src/services/index.ts
  src/services/token.service.ts
Due: eslint --fix, prettier --write

feat: add docker image
  .env.example
  Dockerfile
  compose.yml
  nginx.conf
  package.json
  src/libs/i18n.ts
  src/services/base.service.ts
Due: eslint --fix, prettier --write

ci: add publish action
  .github/workflows/publish.yml
Due: none

fix: rename logo component
  src/components/AppLogo/AppLogo.module.scss
  src/components/AppLogo/AppLogo.tsx
  src/components/AppLogo/index.ts
  src/components/FirstLoader/FirstLoader.tsx
  src/components/logo/Logo.tsx
  src/components/logo/index.ts
Due: eslint --fix, prettier --write

ci: update publish ci
  .github/workflows/publish.yml
Due: none

chore: update license
  package.json
Due: prettier --write

chore: add buildx
  .github/workflows/publish.yml
Due: none

Add license scan report and status
  README.md
Due: prettier --write

fix(docker): use COPY instead ADD for local resources
  Dockerfile
Due: none

chore: change renovate baseBranch to main
  renovate.json
Due: prettier --write

fix(logical): use ?? instead ||
  src/services/token.service.ts
Due: eslint --fix, prettier --write

fix(docker): docker issue with root user
  Dockerfile
Due: none

chore: add codefactor badge
  README.md
Due: prettier --write

fix: fix docker ci
  .github/workflows/docker.yml
Due: none

chore: change build cache
  .github/workflows/docker.yml
Due: none

chore: remove cosign version
  .github/workflows/docker.yml
Due: none

fix: update docker ci
  .github/workflows/docker.yml
Due: none

ci(docker): add docker scout
  .github/workflows/docker.yml
Due: none

docs: update document
  README.md
Due: prettier --write

fix(docker): add docker image description
  .github/workflows/docker.yml
Due: none

chore(ci): remove docker build
  .github/workflows/docker.yml
Due: none

fix: upgrade sharp from 0.33.5 to 0.34.1
  package.json
Due: prettier --write

fix(deps): fix i18next package
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,css,scss,json,md}
